body {
  background-color: #F8F6F0;
  font-family: "IBM Plex Mono", monospace;
  color: #111111;
  text-align: center;
  margin: 0;
  padding: 0;
}

body::before {
  content: "";
  display: block;
  width: 70%;
  height: 8px;
  background-color: #5FAEAE;
  margin: 30px auto;
}

h1 {
  font-size: 52px;
  letter-spacing: 10px;
  font-weight: 400;
  margin-top: 60px;
  margin-bottom: 50px;
}

p {
  font-size: 20px;
  letter-spacing: 3px;
  margin: 18px;
}
